// 常规字体大小
$font-largest: 80px;
$font-larger: 38px;
$font-large: 28px;
$font-medium: 24px;
$font-primary: 18px;
$font-small: 16px;
$font-smaller: 14px;
$font-def: 12px;


$font-em-largest: 2em;
$font-em-larger: 1.6em;
$font-em-large: 1.4em;
$font-em-medium: 1em;
$font-em-primary: 0.8em;
$font-em-small: 0.6em;
$font-em-smaller: 0.4em;
$font-em-def: 0.2em;


// 常规颜色设置
$colorA: #ff6600 !default;
$colorB: #333333 !default;
$colorC: #666666 !default;
$colorD: #999999 !default;
$colorE: #cccccc !default;
$colorF: #d7d7d7 !default;
$colorG: #e5e5e5 !default;

